.button {
  padding: calc(var(--gap) / 2) var(--gap);
  min-height: 40px;

  background-color: var(--color-accept);
  border-radius: calc(var(--gap) / 2);
  color: white;
  cursor: pointer;
  transition-duration: var(--time);

  &:hover {
    &:not(:disabled) {
      background-color: var(--color-accept-light);
    }
  }

  &.danger {
    background-color: var(--color-danger);

    &:hover {
      &:not(:disabled) {
        background-color: var(--color-danger-light);
      }
    }
  }

  &:disabled {
    background-color: var(--color-body);

    cursor: not-allowed;
  }

  &.full {
    width: 100%;
  }
}
