.menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > {
    :first-child {
      display: grid;
      row-gap: var(--gap);
    }
  }
}

.label {
  margin-bottom: calc(var(--gap) / 2);
}

.panel {
  transition-duration: var(--time);

  &.hide {
    opacity: 0.25;
  }
}
