.grid {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: var(--gap);

  > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--gap);

    > div {
      display: flex;
      justify-content: center;
      align-items: center;

      border: 1px solid black;
      border-radius: var(--gap);
    }
  }
}
