@import "../../styles/keyframes.scss";

.grid {
  --tm: calc(var(--time) * 4);

  height: 100%;
  display: grid;
  grid-template-columns: repeat(var(--width), 1fr);
  grid-template-rows: repeat(var(--height), 1fr);
  column-gap: var(--gap);
  row-gap: var(--gap);
  pointer-events: none;

  &.active {
    pointer-events: all;
  }
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-body);
  border-radius: var(--gap);
  font-size: 70px;
  cursor: pointer;
  transition-duration: var(--tm);
  animation-duration: var(--tm);

  &.game {
    &.start {
      transform: scale(0.9);
      background-color: var(--color-main-light);
    }

    &:not(.start) {
      background-color: var(--color-accept-light);

      &:hover {
        background-color: var(--color-accept);
        animation-name: shake;
      }
    }
  }
}
