@import "../../styles/keyframes.scss";

.header {
  padding: 0 var(--gap);
  display: flex;
  align-items: center;

  font-size: 24px;
  background-color: var(--color-place);
}

.logo {
  padding: 0 calc(var(--gap) / 2);
  height: 40px;
  display: flex;
  align-items: center;

  background-color: var(--color-main);
  border-radius: calc(var(--gap) / 2);
  color: white;
  cursor: pointer;
  animation-duration: calc(var(--time) * 4);
  font-weight: bold;

  &:hover {
    animation-name: shake;
  }
}
