.header {
  padding: 0 var(--gap);
  display: flex;
  align-items: center;

  font-size: 24px;
  background-color: var(--color-place);
}

.logo {
  $rotate-angle: 5deg;
  $rotate-time: 0.2s;

  @keyframes logo-hover {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(-$rotate-angle);
    }
    50% {
      transform: rotate(0);
    }
    75% {
      transform: rotate($rotate-angle);
    }
    100% {
      transform: rotate(0);
    }
  }

  padding: 0 calc(var(--gap) / 2);
  height: 40px;
  display: flex;
  align-items: center;

  background-color: var(--color-main);
  border-radius: calc(var(--gap) / 2);
  color: white;
  cursor: pointer;
  animation-duration: $rotate-time;
  font-weight: bold;

  &:hover {
    animation-name: logo-hover;
  }
}
