@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap");

:root {
  --gap: 20px;

  --time: 0.1s;

  --color-body: rgb(235, 235, 235);
  --color-place: white;
  --color-main: rgb(36, 87, 255);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  display: block;
  
  background: none;
  border: none;
  outline: none;
  font-weight: inherit;
}
